Flask
Flask-Cors
flask-apispec
# Pin apispec and marshmallow (dependencies of flask-apispec). Upgrading to
# latest version yields the following error:
# TypeError: validate_biomass() got an unexpected keyword argument 'partial'
apispec==2.0.2
marshmallow==2.19.5
raven[flask]
requests
python-jose

# Database
flask-migrate
flask-sqlalchemy
psycopg2
sqlalchemy
alembic

# Other libs
jsonschema
